<% include header.ejs %>
<div>...</div>
<div class="container">
    <h4>Welcome</h4>
    <h4>This application uses Node.js</h4>
    <p>You can sign in with user/pass!</p>
</div>
</body>

<% include footer.ejs %>